spring:
  application:
    name: REST API JWT
  main:
    banner-mode: OFF
  datasource:
    url: jdbc:postgresql://postgres-local:5432/store?currentSchema=platform_data
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
    generate-ddl: true

server:
  port:
    8081